:root{
  --turnIndicatorBorderBannerColor: rgb(0, 0, 0);
  --turnIndicatorBannerColor: rgb(0, 0, 0);
}

#TurnSubscriberBannerId {
  width: 100%;

  text-overflow: clip;

  /* Margin */
  margin-top: 15%;
  /* Padding */
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;

  background-color: var(--turnIndicatorBannerColor);
  border-top: var(--turnIndicatorBorderBannerColor);
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom: var(--turnIndicatorBorderBannerColor);
  border-bottom-width: 5px;
  border-bottom-style: solid;

  /* Text related */
  color: lightgray;
  text-shadow: 2px 2px 5px black;

  /* Forward animation fill mode */
  animation-fill-mode: forwards;
  /* Let it in background */
  z-index: -1;
}

#TurnSubscriberTextId {
  position: relative;
  left: 30%;
}

#TurnSubscriberMainTextId {
  font-size: 3em;
  margin-bottom: 1.5em;
}

#TurnSubscriberSecondaryTextId {
  font-size: 1.5em;
  margin-top: 1.5em;
}

#TurnSubscriberImageId {
  position: absolute;
  z-index: 1;
  top: -100px;
  border-width: 0px;
  width: auto;
  max-width: 300px;
  height: 300px;
  object-fit: contain;
}

#TurnSubscriberImageId.hidden {
  filter: contrast(0) saturate(2000%) brightness(0%) blur(1px);
}