:root{
  --turnIndicatorBorderBannerColor: rgb(255, 255, 255);
  --turnIndicatorBannerColor: rgb(255, 255, 255);
}

#TurnSubscriberId {
  width: 100%;

  margin-top: 20%;
  padding: 2%;

  background-color: var(--turnIndicatorBannerColor);
  border-top: var(--turnIndicatorBorderBannerColor);
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom: var(--turnIndicatorBorderBannerColor);
  border-bottom-width: 5px;
  border-bottom-style: solid;

  /* Text related */
  color: lightgray;
  text-shadow: 2px 2px 5px black;

  /* Forward animation fill mode */
  animation-fill-mode: forwards;
  /* Let it in background */
  z-index: -1;
}